# --- Image & Multi-modal ---
git+https://github.com/openai/CLIP.git
pillow
opencv-python

# --- Text & NLP Models ---
sentence-transformers
transformers
datasets

# --- Utilities & Data ---
tqdm
numpy
pandas
scikit-learn
ftfy
regex